@mixin colors {
  --hippie-primary-color: #42b983;
  --hippie-bg-color: hsl(0deg 0% 100%);
  --hippie-text-color: hsl(215deg 16% 50%);
  --hippie-backdrop-color: hsla(215deg 16% 50% / 50%);
  --hippie-hit-color: hsl(215deg 16% 50%);
  --hippie-hit-active-color: #fff;
  --hippie-footer-color: hsla(215deg 16% 50% / 70%);
}
