@mixin spacing {
  --hippie-spacing-xs: .25rem; /* 4px */
  --hippie-spacing-s: .5rem; /* 8px */
  --hippie-spacing-m: .75rem; /* 12px */
  --hippie-spacing-l: 1rem; /* 16px */
  --hippie-spacing-xl: 1.25rem; /* 20px */
  --hippie-spacing-2xl: 2rem; /* 32px */
}
